<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TO DO LIST</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script>
        $(document).on("change", ".selectpicker", function () {
            getTasks();
        });

        function getTasks() {
            var id = $("#selectList").val();
            $.get("/get_tasks?id=" + id, function (tasks) {
                $("#tasks").empty();
                $.each(tasks, function (i, task) {
                    $("#tasks").append(
                        "<tr>" +
                        "<td>" + task.description + "</td>" +
                        "<td><input class='checkBox' type='checkbox' id='checkBox" + task.id + "' value='" + task.id + "'></td>" +
                        "</tr>"
                    );
                    if (task.done === true) {
                        $("#checkBox" + task.id).attr("checked", "checked");
                    }
                });
            })
        }

        $(document).on('click', '.checkBox', function () {
            var id = $(this).val();
            $.post("/mark_task?id=" + id);
        });

        function deleteList() {
            var id = $("#selectList").val();
            $.get("/delete_list?id=" + id);
            window.location.replace("/to_do_list")
        }
    </script>
</head>
<body>
<div class="container" style="background-color: white; margin-top: 40px">
    <form action="/to_do_list" method="POST">
        <p class="h4 mb-4">Add TODOList</p>
        <div class="form-group">
            <label for="name">Name :</label>
            <input name="name" type="text" class="form-control mb-4"
                   id="name" placeholder="Enter name">
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Submit
        </button>
    </form>
</div>
<div class="container" style="background-color: white; margin-top: 40px">
    <form action="/addTasks" method="POST">
        <p class="h4 mb-4">Add task for to do list</p>
        <div class="form-group">
            <label> Select to do list : <br/>
                <select name="listId" class="selectpicker"
                        title="Choose to do List" data-live-search="true"
                        id="selectList">
                    <option th:each="list : ${lists}"
                            th:text="${list.name}"
                            th:value="${list.id}">
                    </option>
                </select>
            </label>
        </div>
        <a class="btn btn-dark" onclick="deleteList()">Delete this list</a>
        <div class="form-group">
            <label for="description">Description : </label>
            <input name="description" type="text" class="form-control mb-4"
                   id="description" placeholder="Enter description">
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Submit
        </button>
    </form>
</div>
<div class="container" style="background-color: white; margin-top: 40px">
    <p class="h4 mb-4">Tasks : </p>
    <div class="form-group">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>
        </div>
    </div>

    <div id="deleteList">

    </div>
</div>
</body>
</html>